<h1>ng-shield-editor</h1>

<div class="row">
  <div class="col-md-6">
    <p class="text-center">Columna 1 - Vista previa</p>
    <ng-shield-editor-preview [settings]="settings" style="max-width: 400px"></ng-shield-editor-preview>
  </div>
  <div class="col-md-6">
    <p class="text-center">Columna 2 - Selector</p>
    <ng-shield-editor-settings [(ngModel)]="settings"></ng-shield-editor-settings>
  </div>
</div>

<button (click)="downloadSVG()">Download as SVG</button>
<button (click)="downloadPNG()">Download as PNG</button>
